h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    padding-left: 40px;
    font-size: 48px;
    font-weight: bold;
    color: var(--naranja);
}
.texto-estudios {
    padding: 25;
    font-size: 20;
}
.estudio-cuerpo {
    background-color: var(--color-principal);
    color: white;
}
.onda1 {
    width: 100%;
}
.onda2 {
    width: 100%;
}
.Estudios {
    display: flex;
    flex-direction: column;
}
.onda2 {
    transform: scaleY(-1);
}

.cuerpo-experiencia {
    font-size: 28px;
}